<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mood/Eats</title>
</head>
<body>
 <h1>mood<span class="eats">eats</span></h1>
 <div class="dropdown">
  <button class="dropbtn">How do you feel?</button>
  <div class="dropdown-content">
    <a href="/afterwork">After Work</a>
    <a href="/celebrating">Celebrating</a>
    <a href="/relax">Relax</a>
    <a href="/intellectual">Intellectual</a>
    <a href="/motivated">Motivated</a>
    <a href="/drunkeats">Drunk Eats</a>
    <a href="romantic">Romantic</a>
    <a href="/munchies">Munchies</a>
    <a href="/sexy">Sexy</a>
    <a href="/hangingout">Hanging Out</a>
  </div>
</div>
{{{body}}}
</div>
</body>
</html>
