{{restaurant}}

<a href='/restaurants'>Go To Restaurants</a>
{{#each restaurants as |restaurant index|}}
<h3>
  <a href="/{{restaurant.name}}">{{restaurant.name}} -- {{restaurant.location}}</a>
</h3>
{{/each}}

<div class="restaurants-input">
    <h3>Add Restaurant</h3>
      <form name='restaurants' action="/restaurants" method="post">
        <input type="text" name="restaurant[name]" placeholder="name of restaurant"><br>
        <input type="text" name="restaurant[location]" placeholder="restaurant location"><br>
        <input type="text" name="restaurant[mood]" placeholder="restaurant mood"><br>
        <input type="text" name="restaurant[url]" placeholder="website"><br>
        <input type="submit" name="" value="add restaurant">
      </form>
</div>
