{{#each restaurants as |restaurants index|}}
<h3>
  <a href="/{{restaurants.name}}">{{restaurants.name}} -- {{restaurants.location}}</a>
</h3>
{{/each}}

<div class="restaurants-input">
    <h3>Add Restaurant</h3>
      <form name= 'restaurants' action="/{{restaurants.name}}" method="post">
        <input type="text" name="restaurants[name]" value="name of restaurant"><br>
        <input type="text" name="restaurant[location]" value="restaurant location"><br>
        <textarea cols="40" rows="15" name="restaurants[url]">
          Website
        </textarea>
     <br>
    <input type="submit" name="" value="add restaurant">
  </form>
</div>
