@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    text-align: center;   
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;           
}

/* CSS font color change source by Rasi Zakaria https://codepen.io/raaasin/pen/quvHr */
.eats {
    color:#313131;
    -webkit-animation:colorchange 20s infinite alternate;
    
  }

  @-webkit-keyframes colorchange {
    0% {
      
      color: #ff0000;
    }
    
    10% {
      
      color: #003A1A;
    }
    
    20% {
      
      color: #00DC7B;
    }
    
    30% {
      
      color: #00B4E9;
    }
    
    40% {
      
      color: #FF0505;
    }
    
    50% {
      
      color: #FFA761;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: #FF69B4;
    }
  }

/* Dropdown nav bar HTML/CSS source: https://www.w3schools.com/howto/howto_css_dropdown.asp */

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B22222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}


